/.gradle
/build*
/etc
/idea
/target
/out

*/*/*/.java/fonts
*/*/*/system
*/*/*/config/options/*.xml
*/*/*/config/*.xml
*/*/*/config/plugins
!*/*/*/config/options/jdk.table.xml

# IDEA files
.idea/codeStyles
.idea/copyright
.idea/libraries
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/jsLibraryMappings.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/uiDesigner.xml